{% extends 'base.html.twig' %}

{% block title %}Daily Pull Requests - {{ org }}/{{ repo }}{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>{{ org }}/{{ repo }} - Insights</h1>
    <p>
        <a href="{{ path("app_org", {org: org}) }}">Back</a>
    </p>

    <h2>Daily Pull Requests</h2>
    <ul>
        {% for year in years %}
        <li>
            <a href="{{ path('app_pr_chart', {org: org, repo: repo, year: year}) }}">{{ year }}</a>
        </li>
        {% else %}
        <li>There are no reports yet for given repository.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
